@import 'bourbon/dist/bourbon';
@import 'variables';
@import 'grid-settings';
@import 'neat/app/assets/stylesheets/neat';

/* Import bitters components */
@import 'bitters/app/assets/stylesheets/extends/button';
@import 'bitters/app/assets/stylesheets/forms';

/* Refills components */
@import 'refills/source/stylesheets/refills/hero';
@import 'refills/source/stylesheets/refills/hover-tile-animation';
@import 'refills/source/stylesheets/refills/tables';
@import 'refills/source/stylesheets/refills/cards';


// Grid setting, only neat mixins
@import 'grids/navbar';
@import 'grids/main_container';
@import 'grids/users';
@import 'grids/main';

// Simple HTML tag styles
@import 'tags/buttons';
@import 'tags/tables';
@import 'tags/a';

// Custom elements like navbar or card
@import 'elements/card';
@import 'elements/navbar';
@import 'elements/main_container';
@import 'elements/growl_notifications';
@import 'elements/textangular';


// Special page styles, only for one page

// Animations
@import 'animations/uiview';
@import 'animations/users';
@import 'animations/ngrepeat';

html {
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

body {
  font-family: $base-font-family;
  color: $deep-teal;
}


